<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" id="id_amazing"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<!-- 应用上下文配置文件 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>amazing.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/config/*servlet.xml</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>/home.htm</welcome-file>
	</welcome-file-list>
	
</web-app>